.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .titleBar-style {
    color: #adbfec;
    
    box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
    font-size: '10rem';
    font-family: 'Roboto, sans-serif';
    margin: '10px';
  }

  .file-upload-container {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-file-upload {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    background-color: #a2b0d5;
    border-radius: 5px;
    font-size: 16px;
  }

  .input-file {
    margin-left: 150px;
    margin-top: 10px;
  }
  
  .input-image{
    margin-top: 30px;
    margin-left: -30%;
    max-width: 500px;
    max-height: 300px;
  }

  .task-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #121313e4; */
  }
  
  .dropdown-container {
    padding: 10px;
  }

  .input-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    max-width: 50%;
    max-height: 50%;
    overflow-wrap: normal;
  }
  
  .task-info-box{
    display: inline-block;
    margin-top: 20%;
    padding: 10px 10px;
    cursor: pointer;
    color:black;
    background-color: #a2b0d5;
    border-radius: 5px;
    font-size: 16px;
  }

  .image-popup {
    overflow: auto; 
    background-color: #99abd9;
    width: 50%; 
    height: 100%; 
  }

  .popup-content {
    width: 50px; 
   padding-left: 50px;
   padding-right: 50px;
  }
  
  .buttons_display{
    padding-top: 20px;
    background-color: #99abd9;
    width: 747px;
    height: 80px;
    margin-left: -190px;
    margin-bottom:-20px ;
  }
  
  .button_popup{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .download_images{
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .img_popup{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; 
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    padding-top: auto;
    margin-left: 10px;
  }

  .images_popup{
    width: 200%; 
    height: 80%; 
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin-left: -50%;
    padding: 0px;
    margin-top: -2%;
    margin-bottom: -2%;
    background-color: #99abd9;
  }